---
import ProjectLayout from '@/layouts/ProjectLayout.astro'
---

<ProjectLayout
	title='Basketball Shooting Assistant'
	description='Personal Project - AI-powered Basketball Shooting Form Analysis'
	imagePath='/src/assets/basketball_shooting_assistant.jpg'
	githubUrl='https://github.com/andreibogdanflorea/Basketball-Shot-Assistant/tree/main'
	technologies={['Python', 'Machine Learning', 'Computer Vision', 'Pose Estimation']}
>
	<h2>Project Overview</h2>
	<p>
		The Basketball Shooting Assistant is a personal project that leverages computer vision and pose estimation to analyze basketball shooting form.
        It is meant for understanding what shooting parameters (elbow angle, arm-to-body angle, etc.) lead to successful shots.
	</p>

	<h2>Key Features</h2>
	<ul>
		<li>Pose estimation during basketball shots</li>
		<li>Analysis of key shooting form metrics (elbow alignment, arm-to-body angle)</li>
		<li>Historical performance tracking and suggestion of best shooting parameters</li>
		<li>User-friendly interface for providing feedback</li>
        <li>Applying classic ML algorithms for learning to classify shots into hits and misses</li>
	</ul>

	<h2>Impact and Applications</h2>
	<p>
		This project demonstrates the practical application of computer vision and classical machine learning in sports analytics and training. It provides an accessible tool for basketball players to improve their shooting form without requiring expensive equipment or professional coaching.
	</p>
</ProjectLayout>
